[submodule "vendor/php-xapi/exception"]
	path = vendor/php-xapi/exception
	url = https://github.com/gwmahub/exception.git
[submodule "vendor/php-xapi/model"]
	path = vendor/php-xapi/model
	url = https://github.com/gwmahub/model.git
[submodule "vendor/php-xapi/serializer"]
	path = vendor/php-xapi/serializer
	url = https://github.com/gwmahub/serializer.git
[submodule "vendor/php-xapi/symfony-serializer"]
	path = vendor/php-xapi/symfony-serializer
	url = https://github.com/gwmahub/symfony-serializer.git
[submodule "vendor/php-xapi/repository-api"]
	path = vendor/php-xapi/repository-api
	url = https://github.com/gwmahub/repository-api.git
[submodule "vendor/php-xapi/repository-doctrine-orm"]
	path = vendor/php-xapi/repository-doctrine-orm
	url = https://github.com/gwmahub/repository-doctrine-orm.git
